In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import datetime

%matplotlib inline

In [2]:
pd.set_option('display.max_columns', None)

In [3]:
# import all tables for EDA

In [4]:
batting = pd.read_csv(r"C:\Users\hunte\Documents\NNS-DDA10\hunter_capstone\data\core\Batting.csv")

In [136]:
batting = batting.loc[batting['yearID'] != 2020]

In [5]:
batting2 = batting.loc[batting['yearID'] > 1969]

In [6]:
allstar = pd.read_csv(r"C:\Users\hunte\Documents\NNS-DDA10\hunter_capstone\data\core\AllstarFull.csv")

In [7]:
appearances = pd.read_csv(r"C:\Users\hunte\Documents\NNS-DDA10\hunter_capstone\data\core\Appearances.csv")

In [8]:
appearances2 = appearances.loc[appearances['yearID'] > 1969]

In [9]:
batting_post = pd.read_csv(r"C:\Users\hunte\Documents\NNS-DDA10\hunter_capstone\data\core\BattingPost.csv")

In [10]:
batting_post2 = batting_post.loc[batting_post['yearID'] > 1969]

In [11]:
fielding = pd.read_csv(r"C:\Users\hunte\Documents\NNS-DDA10\hunter_capstone\data\core\Fielding.csv")

In [12]:
fieldingof = pd.read_csv(r"C:\Users\hunte\Documents\NNS-DDA10\hunter_capstone\data\core\FieldingOF.csv")

In [13]:
fieldingof_split = pd.read_csv(r"C:\Users\hunte\Documents\NNS-DDA10\hunter_capstone\data\core\FieldingOFsplit.csv")

In [14]:
fielding_post = pd.read_csv(r"C:\Users\hunte\Documents\NNS-DDA10\hunter_capstone\data\core\FieldingPost.csv")

In [15]:
games = pd.read_csv(r"C:\Users\hunte\Documents\NNS-DDA10\capstone\possible_data\baseball_reference_2016_scrape.csv")

In [16]:
homegames = pd.read_csv(r"C:\Users\hunte\Documents\NNS-DDA10\hunter_capstone\data\core\HomeGames.csv")

In [17]:
managers = pd.read_csv(r"C:\Users\hunte\Documents\NNS-DDA10\hunter_capstone\data\core\Managers.csv")

In [18]:
managershalf = pd.read_csv(r"C:\Users\hunte\Documents\NNS-DDA10\hunter_capstone\data\core\ManagersHalf.csv")

In [19]:
parks = pd.read_csv(r"C:\Users\hunte\Documents\NNS-DDA10\hunter_capstone\data\core\Parks.csv")

In [86]:
people = pd.read_csv(r"C:\Users\hunte\Documents\NNS-DDA10\hunter_capstone\data\core\People.csv")

In [21]:
pitching = pd.read_csv(r"C:\Users\hunte\Documents\NNS-DDA10\hunter_capstone\data\core\Pitching.csv")

In [133]:
pitching = pitching.loc[pitching['yearID'] != 2020]

In [22]:
pitching_post = pd.read_csv(r"C:\Users\hunte\Documents\NNS-DDA10\hunter_capstone\data\core\PitchingPost.csv")

In [23]:
series_post = pd.read_csv(r"C:\Users\hunte\Documents\NNS-DDA10\hunter_capstone\data\core\SeriesPost.csv")

In [24]:
teams = pd.read_csv(r"C:\Users\hunte\Documents\NNS-DDA10\hunter_capstone\data\core\Teams.csv")

In [25]:
teams_franchises = pd.read_csv(r"C:\Users\hunte\Documents\NNS-DDA10\hunter_capstone\data\core\TeamsFranchises.csv")

In [26]:
teams_half = pd.read_csv(r"C:\Users\hunte\Documents\NNS-DDA10\hunter_capstone\data\core\TeamsHalf.csv")

In [85]:
people2 = people.loc[people['birthYear'] > 1900]

In [28]:
people['weight'].describe()

count    15181.000000
mean       193.920888
std         21.807769
min         65.000000
25%        180.000000
50%        190.000000
75%        207.000000
max        320.000000
Name: weight, dtype: float64

In [29]:
weight_count = people.value_counts('weight').reset_index(name = 'count')

In [30]:
weight_count.sort_values('weight', ascending = False)

     weight  count
143   320.0      1
127   315.0      1
125   300.0      1
116   295.0      2
110   290.0      3
..      ...    ...
87    140.0      9
141   139.0      1
142   129.0      1
135   125.0      1
129    65.0      1

[144 rows x 2 columns]

In [31]:
batting2_people = batting2.merge(people, how = 'inner', on = 'playerID')

In [32]:
hrcount_by_weight = batting2_people.groupby('weight')['HR'].sum().reset_index(name = 'hr_count')

In [33]:
hrcount_by_weight

     weight  hr_count
0     140.0        51
1     144.0         0
2     145.0        70
3     146.0         5
4     148.0        34
..      ...       ...
130   290.0        36
131   295.0       171
132   300.0         3
133   315.0         0
134   320.0         1

[135 rows x 2 columns]

In [34]:
batting2_people.HR.describe()

count    64000.000000
mean         3.459000
std          7.153565
min          0.000000
25%          0.000000
50%          0.000000
75%          3.000000
max         73.000000
Name: HR, dtype: float64

In [ ]:
# find Shohei playerid and make dfs. Excluding 2020 because of pandemic

In [41]:
shohei_id = people.loc[people['nameFirst'] == 'Shohei']['playerID'].reset_index(drop = False)

In [44]:
shohei_id = shohei_id['playerID']

In [48]:
shohei_info = people.query('playerID in @shohei_id')

In [49]:
shohei_batting = batting.query('playerID in @shohei_id')

In [105]:
shohei_batting = shohei_batting.loc[shohei_batting['yearID'] != 2020]

In [101]:
shohei_pitching = pitching.query('playerID in @shohei_id')

In [106]:
shohei_pitching = shohei_pitching.loc[shohei_pitching['yearID'] != 2020]

In [131]:
shohei_batting

,playerID,yearID,stint,teamID,lgID,G,AB,R,H,2B,3B,HR,RBI,SB,CS,BB,SO,IBB,HBP,SH,SF,GIDP
105327,ohtansh01,2018,1,LAA,AL,114,326,59,93,21,2,22,61.0,10.0,4.0,37,102.0,2.0,2.0,0.0,1.0,2.0
106877,ohtansh01,2019,1,LAA,AL,106,384,51,110,20,5,18,62.0,12.0,3.0,33,110.0,1.0,2.0,0.0,4.0,6.0
109899,ohtansh01,2021,1,LAA,AL,158,537,103,138,26,8,46,100.0,26.0,10.0,96,189.0,20.0,4.0,0.0,2.0,7.0
111609,ohtansh01,2022,1,LAA,AL,157,586,90,160,30,6,34,95.0,11.0,9.0,72,161.0,14.0,5.0,0.0,3.0,6.0

In [ ]:
# find Babe Ruth playerid and make dfs

In [88]:
babe_info = people.loc[people['nameLast'] == 'Ruth']

In [89]:
babe_id = babe_info['playerID']

In [91]:
babe_batting = batting.query('playerID in @babe_id')

In [93]:
babe_pitching = pitching.query('playerID in @babe_id')

In [129]:
babe_batting.sort_values('HR', ascending = False)

,playerID,yearID,stint,teamID,lgID,G,AB,R,H,2B,3B,HR,RBI,SB,CS,BB,SO,IBB,HBP,SH,SF,GIDP
22271,ruthba01,1927,1,NYA,AL,151,540,158,192,29,8,60,164.0,7.0,6.0,137,89.0,NaN,0.0,14.0,NaN,NaN
19054,ruthba01,1921,1,NYA,AL,152,540,177,204,44,16,59,171.0,17.0,13.0,145,81.0,NaN,4.0,4.0,NaN,NaN
22801,ruthba01,1928,1,NYA,AL,154,536,163,173,29,8,54,142.0,4.0,5.0,137,87.0,NaN,3.0,8.0,NaN,NaN
18534,ruthba01,1920,1,NYA,AL,142,457,158,172,36,9,54,137.0,14.0,14.0,150,80.0,NaN,3.0,5.0,NaN,NaN
23877,ruthba01,1930,1,NYA,AL,145,518,150,186,28,9,49,153.0,10.0,10.0,136,61.0,NaN,1.0,21.0,NaN,NaN
21733,ruthba01,1926,1,NYA,AL,152,495,139,184,30,5,47,150.0,11.0,9.0,144,76.0,NaN,3.0,10.0,NaN,NaN
23345,ruthba01,1929,1,NYA,AL,135,499,121,172,26,6,46,154.0,5.0,3.0,72,60.0,NaN,3.0,13.0,NaN,NaN
24382,ruthba01,1931,1,NYA,AL,145,534,149,199,31,3,46,163.0,5.0,4.0,128,51.0,NaN,1.0,0.0,NaN,NaN
20651,ruthba01,1924,1,NYA,AL,153,529,143,200,39,7,46,121.0,9.0,13.0,142,81.0,NaN,4.0,6.0,NaN,NaN
24911,ruthba01,1932,1,NYA,AL,133,457,120,156,13,5,41,137.0,2.0,2.0,130,62.0,NaN,2.0,0.0,NaN,NaN
20111,ruthba01,1923,1,NYA,AL,152,522,151,205,45,13,41,131.0,17.0,21.0,170,93.0,NaN,4.0,3.0,NaN,NaN
19588,ruthba01,1922,1,NYA,AL,110,406,94,128,24,8,35,99.0,2.0,5.0,84,80.0,NaN,1.0,4.0,NaN,NaN
25408,ruthba01,1933,1,NYA,AL,137,459,97,138,21,3,34,103.0,4.0,5.0,114,90.0,NaN,2.0,0.0,NaN,NaN
18017,ruthba01,1919,1,BOS,AL,130,432,103,139,34,12,29,114.0,7.0,NaN,101,58.0,NaN,6.0,3.0,NaN,NaN
21203,ruthba01,1925,1,NYA,AL,98,359,61,104,12,2,25,66.0,2.0,4.0,59,68.0,NaN,2.0,6.0,NaN,NaN
25922,ruthba01,1934,1,NYA,AL,125,365,78,105,17,4,22,84.0,1.0,3.0,104,63.0,NaN,2.0,0.0,NaN,NaN
17505,ruthba01,1918,1,BOS,AL,95,317,50,95,26,11,11,66.0,6.0,NaN,58,58.0,NaN,2.0,3.0,NaN,NaN
26436,ruthba01,1935,1,BSN,NL,28,72,13,13,0,0,6,12.0,0.0,NaN,20,24.0,NaN,0.0,0.0,NaN,2.0
15849,ruthba01,1915,1,BOS,AL,42,92,16,29,10,1,4,21.0,0.0,NaN,9,23.0,NaN,0.0,2.0,NaN,NaN
16470,ruthba01,1916,1,BOS,AL,67,136,18,37,5,3,3,15.0,0.0,NaN,10,23.0,NaN,0.0,4.0,NaN,NaN
16991,ruthba01,1917,1,BOS,AL,52,123,14,40,6,3,2,12.0,0.0,NaN,12,18.0,NaN,0.0,7.0,NaN,NaN
15064,ruthba01,1914,1,BOS,AL,5,10,1,2,1,0,0,2.0,0.0,NaN,0,4.0,NaN,0.0,0.0,NaN,NaN

In [130]:
babe_batting.sort_values('RBI', ascending = False)

,playerID,yearID,stint,teamID,lgID,G,AB,R,H,2B,3B,HR,RBI,SB,CS,BB,SO,IBB,HBP,SH,SF,GIDP
19054,ruthba01,1921,1,NYA,AL,152,540,177,204,44,16,59,171.0,17.0,13.0,145,81.0,NaN,4.0,4.0,NaN,NaN
22271,ruthba01,1927,1,NYA,AL,151,540,158,192,29,8,60,164.0,7.0,6.0,137,89.0,NaN,0.0,14.0,NaN,NaN
24382,ruthba01,1931,1,NYA,AL,145,534,149,199,31,3,46,163.0,5.0,4.0,128,51.0,NaN,1.0,0.0,NaN,NaN
23345,ruthba01,1929,1,NYA,AL,135,499,121,172,26,6,46,154.0,5.0,3.0,72,60.0,NaN,3.0,13.0,NaN,NaN
23877,ruthba01,1930,1,NYA,AL,145,518,150,186,28,9,49,153.0,10.0,10.0,136,61.0,NaN,1.0,21.0,NaN,NaN
21733,ruthba01,1926,1,NYA,AL,152,495,139,184,30,5,47,150.0,11.0,9.0,144,76.0,NaN,3.0,10.0,NaN,NaN
22801,ruthba01,1928,1,NYA,AL,154,536,163,173,29,8,54,142.0,4.0,5.0,137,87.0,NaN,3.0,8.0,NaN,NaN
24911,ruthba01,1932,1,NYA,AL,133,457,120,156,13,5,41,137.0,2.0,2.0,130,62.0,NaN,2.0,0.0,NaN,NaN
18534,ruthba01,1920,1,NYA,AL,142,457,158,172,36,9,54,137.0,14.0,14.0,150,80.0,NaN,3.0,5.0,NaN,NaN
20111,ruthba01,1923,1,NYA,AL,152,522,151,205,45,13,41,131.0,17.0,21.0,170,93.0,NaN,4.0,3.0,NaN,NaN
20651,ruthba01,1924,1,NYA,AL,153,529,143,200,39,7,46,121.0,9.0,13.0,142,81.0,NaN,4.0,6.0,NaN,NaN
18017,ruthba01,1919,1,BOS,AL,130,432,103,139,34,12,29,114.0,7.0,NaN,101,58.0,NaN,6.0,3.0,NaN,NaN
25408,ruthba01,1933,1,NYA,AL,137,459,97,138,21,3,34,103.0,4.0,5.0,114,90.0,NaN,2.0,0.0,NaN,NaN
19588,ruthba01,1922,1,NYA,AL,110,406,94,128,24,8,35,99.0,2.0,5.0,84,80.0,NaN,1.0,4.0,NaN,NaN
25922,ruthba01,1934,1,NYA,AL,125,365,78,105,17,4,22,84.0,1.0,3.0,104,63.0,NaN,2.0,0.0,NaN,NaN
17505,ruthba01,1918,1,BOS,AL,95,317,50,95,26,11,11,66.0,6.0,NaN,58,58.0,NaN,2.0,3.0,NaN,NaN
21203,ruthba01,1925,1,NYA,AL,98,359,61,104,12,2,25,66.0,2.0,4.0,59,68.0,NaN,2.0,6.0,NaN,NaN
15849,ruthba01,1915,1,BOS,AL,42,92,16,29,10,1,4,21.0,0.0,NaN,9,23.0,NaN,0.0,2.0,NaN,NaN
16470,ruthba01,1916,1,BOS,AL,67,136,18,37,5,3,3,15.0,0.0,NaN,10,23.0,NaN,0.0,4.0,NaN,NaN
26436,ruthba01,1935,1,BSN,NL,28,72,13,13,0,0,6,12.0,0.0,NaN,20,24.0,NaN,0.0,0.0,NaN,2.0
16991,ruthba01,1917,1,BOS,AL,52,123,14,40,6,3,2,12.0,0.0,NaN,12,18.0,NaN,0.0,7.0,NaN,NaN
15064,ruthba01,1914,1,BOS,AL,5,10,1,2,1,0,0,2.0,0.0,NaN,0,4.0,NaN,0.0,0.0,NaN,NaN

In [ ]:
#save the DFs to csvs

In [99]:
babe_pitching.to_csv('data/babe_pitching.csv')

In [100]:
babe_batting.to_csv('data/babe_batting.csv')

In [112]:
shohei_pitching.to_csv('data/shohei_pitching.csv')

In [113]:
shohei_batting.to_csv('data/shohei_batting.csv')

In [118]:
both_batting = pd.concat([babe_batting, shohei_batting])

In [119]:
both_pitching = pd.concat([babe_pitching, shohei_pitching])

In [124]:
both_pitching.to_csv('data/both_pitching.csv')

In [126]:
both_batting.to_csv('data/both_batting.csv')

In [137]:
fielding

,playerID,yearID,stint,teamID,lgID,POS,G,GS,InnOuts,PO,A,E,DP,PB,WP,SB,CS,ZR
0,abercda01,1871,1,TRO,NaN,SS,1,1.0,24.0,1,3,2.0,0,NaN,NaN,NaN,NaN,NaN
1,addybo01,1871,1,RC1,NaN,2B,22,22.0,606.0,67,72,42.0,5,NaN,NaN,NaN,NaN,NaN
2,addybo01,1871,1,RC1,NaN,SS,3,3.0,96.0,8,14,7.0,0,NaN,NaN,NaN,NaN,NaN
3,allisar01,1871,1,CL1,NaN,2B,2,0.0,18.0,1,4,0.0,0,NaN,NaN,NaN,NaN,NaN
4,allisar01,1871,1,CL1,NaN,OF,29,29.0,729.0,51,3,7.0,1,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
149360,zimmebr01,2022,1,TOR,AL,OF,70,21.0,818.0,22,0,0.0,0,NaN,NaN,NaN,NaN,NaN
149361,zimmebr01,2022,2,PHI,NL,OF,9,5.0,144.0,14,0,1.0,0,NaN,NaN,NaN,NaN,NaN
149362,zimmebr01,2022,3,TOR,AL,OF,20,2.0,147.0,20,0,1.0,0,NaN,NaN,NaN,NaN,NaN
149363,zimmebr02,2022,1,BAL,AL,P,15,13.0,221.0,1,5,0.0,0,NaN,NaN,NaN,NaN,NaN
149364,zuninmi01,2022,1,TBA,AL,C,35,34.0,898.0,283,9,1.0,0,2.0,NaN,4.0,15.0,NaN

In [139]:
people.merge(batting, how = 'inner', on = 'playerID').to_csv('data/all_batting.csv')