In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import datetime

%matplotlib inline

In [2]:
pd.set_option('display.max_columns', None)

In [ ]:
# import all tables for EDA

In [5]:
batting = pd.read_csv(r"C:\Users\hunte\Documents\NNS-DDA10\hunter_capstone\data\core\Batting.csv")

In [89]:
batting2 = batting.loc[batting['yearID'] > 1969]

In [6]:
allstar = pd.read_csv(r"C:\Users\hunte\Documents\NNS-DDA10\hunter_capstone\data\core\AllstarFull.csv")

In [7]:
appearances = pd.read_csv(r"C:\Users\hunte\Documents\NNS-DDA10\hunter_capstone\data\core\Appearances.csv")

In [85]:
appearances2 = appearances.loc[appearances['yearID'] > 1969]

In [8]:
batting_post = pd.read_csv(r"C:\Users\hunte\Documents\NNS-DDA10\hunter_capstone\data\core\BattingPost.csv")

In [77]:
batting_post2 = batting_post.loc[batting_post['yearID'] > 1969]

In [9]:
fielding = pd.read_csv(r"C:\Users\hunte\Documents\NNS-DDA10\hunter_capstone\data\core\Fielding.csv")

In [10]:
fieldingof = pd.read_csv(r"C:\Users\hunte\Documents\NNS-DDA10\hunter_capstone\data\core\FieldingOF.csv")

In [11]:
fieldingof_split = pd.read_csv(r"C:\Users\hunte\Documents\NNS-DDA10\hunter_capstone\data\core\FieldingOFsplit.csv")

In [12]:
fielding_post = pd.read_csv(r"C:\Users\hunte\Documents\NNS-DDA10\hunter_capstone\data\core\FieldingPost.csv")

In [19]:
games = pd.read_csv(r"C:\Users\hunte\Documents\NNS-DDA10\capstone\possible_data\baseball_reference_2016_scrape.csv")

In [13]:
homegames = pd.read_csv(r"C:\Users\hunte\Documents\NNS-DDA10\hunter_capstone\data\core\HomeGames.csv")

In [14]:
managers = pd.read_csv(r"C:\Users\hunte\Documents\NNS-DDA10\hunter_capstone\data\core\Managers.csv")

In [15]:
managershalf = pd.read_csv(r"C:\Users\hunte\Documents\NNS-DDA10\hunter_capstone\data\core\ManagersHalf.csv")

In [16]:
parks = pd.read_csv(r"C:\Users\hunte\Documents\NNS-DDA10\hunter_capstone\data\core\Parks.csv")

In [17]:
people = pd.read_csv(r"C:\Users\hunte\Documents\NNS-DDA10\hunter_capstone\data\core\People.csv")

In [18]:
pitching = pd.read_csv(r"C:\Users\hunte\Documents\NNS-DDA10\hunter_capstone\data\core\Pitching.csv")

In [20]:
pitching_post = pd.read_csv(r"C:\Users\hunte\Documents\NNS-DDA10\hunter_capstone\data\core\PitchingPost.csv")

In [21]:
series_post = pd.read_csv(r"C:\Users\hunte\Documents\NNS-DDA10\hunter_capstone\data\core\SeriesPost.csv")

In [22]:
teams = pd.read_csv(r"C:\Users\hunte\Documents\NNS-DDA10\hunter_capstone\data\core\Teams.csv")

In [23]:
teams_franchises = pd.read_csv(r"C:\Users\hunte\Documents\NNS-DDA10\hunter_capstone\data\core\TeamsFranchises.csv")

In [24]:
teams_half = pd.read_csv(r"C:\Users\hunte\Documents\NNS-DDA10\hunter_capstone\data\core\TeamsHalf.csv")

In [38]:
people.loc[people['nameFirst'] == 'Shohei']

,playerID,birthYear,birthMonth,birthDay,birthCountry,birthState,birthCity,deathYear,deathMonth,deathDay,deathCountry,deathState,deathCity,nameFirst,nameLast,nameGiven,weight,height,bats,throws,debut,finalGame,retroID,bbrefID
13912,ohtansh01,1994.0,7.0,5.0,Japan,Iwate,Oshu,NaN,NaN,NaN,NaN,NaN,NaN,Shohei,Ohtani,Shohei,210.0,76.0,L,R,2018-03-29,2023-07-23,ohtas001,ohtansh01

In [51]:
people = people.loc[people['birthYear'] > 1900]

In [52]:
people['weight'].describe()

count    11842.000000
mean       197.808478
std         21.894862
min        140.000000
25%        182.000000
50%        195.000000
75%        210.000000
max        320.000000
Name: weight, dtype: float64

In [60]:
weight_count = people.value_counts('weight').reset_index(name = 'count')

In [63]:
weight_count.sort_values('weight', ascending = False)

     weight  count
134   320.0      1
120   315.0      1
123   300.0      1
119   295.0      1
109   290.0      3
..      ...    ...
122   148.0      1
117   146.0      1
81    145.0      9
133   144.0      1
93    140.0      6

[135 rows x 2 columns]

In [94]:
batting2_people = batting2.merge(people, how = 'inner', on = 'playerID')

In [108]:
hrcount_by_weight = batting2_people.groupby('weight')['HR'].sum().reset_index(name = 'hr_count')

In [113]:
hrcount_by_weight

     weight  hr_count
0     140.0        51
1     144.0         0
2     145.0        70
3     146.0         5
4     148.0        34
..      ...       ...
130   290.0        36
131   295.0       171
132   300.0         3
133   315.0         0
134   320.0         1

[135 rows x 2 columns]

In [105]:
batting2_people.HR.describe()

count    63986.000000
mean         3.459757
std          7.154165
min          0.000000
25%          0.000000
50%          0.000000
75%          3.000000
max         73.000000
Name: HR, dtype: float64